html{
    margin: 0%;
    padding: 5px;
    background-color: #99ffff;
}

.container{
display: block;
text-align: center;
width: 95vw;
height: auto;
margin: auto;
}

.corona-am img{
    width: 90vw;
    margin: auto;
    text-align: center;
    display: block;
}