html{
    margin: 0%;
    padding: 0%;
    background-color: #e0ffff;
}

.container, .banner{
    display: block;
    text-align: center;
    width: 80vw;
    height: auto;
    margin: auto;
}

.poem img{
    width: 80vw;
    margin: auto;
    text-align: center;
    display: block;
}